@model Pet
<script src="vendor/bootstrap/js/hideandseek.js"></script>

<style>
    html{
    background-image: url(https://www.worldofwallpaper.com/media/catalog/product/cache/a13f2d0ee5dc2e18e92742d73c48d042/g/d/gdo021_grandeco_eco_stars_wallpaper_grey_ae1.jpg);
    background-repeat: repeat;
    width:100%;
    height:100%;
    }
    .background{
    background-image: url(https://www.worldofwallpaper.com/media/catalog/product/cache/a13f2d0ee5dc2e18e92742d73c48d042/g/d/gdo021_grandeco_eco_stars_wallpaper_grey_ae1.jpg);
    background-repeat: repeat;
    width:100%;
    height:100%;
    }
    html
    .nav justify-content-end{
        background-color: rgb(187,190,195);
    }
    .container{
        max-width:100%;
        height:900px;
    }
</style>

<body class="background">
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/mailbox">Mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Release Pet</a>
            </li>
            <li class="nav-item">
                <a class="text-danger" asp-action="logout" style="text-decoration:underline">Logout</a>
            </li>
        </ul>
        <div class="head" style="text-align:center;">
            <h1>Congratulations!</h1>
            <h3>Your pet has gained 30 more fullness points!</h3>
        <a asp-action="success" class="btn btn-success">Back</a>
        </div>
    </div>
</body>