@model Pet

<style>
    .background{
    background-image: url(https://www.worldofwallpaper.com/media/catalog/product/cache/a13f2d0ee5dc2e18e92742d73c48d042/g/d/gdo021_grandeco_eco_stars_wallpaper_grey_ae1.jpg);
    background-repeat: repeat;
    }
    .nav justify-content-end{
        background-color: rgb(187,190,195);
    }
    .container{
        text-align:center;
        max-width:100%;
    }
</style>
<body class="background">
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/mailbox">Mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Release Pet</a>
            </li>
            <li class="nav-item">
                <a class="text-danger" asp-action="logout" style="text-decoration:underline">Logout</a>
            </li>
        </ul>
        <div class="pet" style="display:inline-block;">
            <p style="font-weight:bold;font-family: Poppins-Bold; margin:15px 0px 15px 0px;">@Model.PetName (#@Model.PetId)</p>
            <img src=@Model.PetPicture alt="pet image">
            <p>Level: @Model.PetLevel | Experience: @Model.PetExperience</p>
            <div style="margin-top:10px; height: 250px; width:90%; display:inline-block; border:1px solid lightgray; background:white;">
                <p style="font-weight:bold;font-family: Poppins-Bold;">Pet Bio</p>
                <p>@Model.PetBio</p>
            </div>
        </div>
        <h2>Are you sure you want to release this pet?</h2>
        <form asp-action="deletePet" asp-route-petId=@Model.PetId asp-controller="Home" method="Post"> 
            <button class="btn btn-danger">Release</button>
        </form>
    </div>
</body>